.step-process,
.step-process *,
.step-process *::before,
.step-process *::after{
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
       -o-box-sizing : border-box;
      -ms-box-sizing : border-box;
          box-sizing : border-box;
}

.step-process ul,
.step-process li{
  list-style:none;
  margin:0;
  padding:0;
}

.step-process > ul{
  width:100%;
  display:flex;
  flex-flow: row;
  gap:10px;
  justify-content:space-between;
  align-items:flex-start;
  align-items:stretch;
}

.step-process > ul > *{
  flex: 1;
  background-color:white;
  padding:10px;
  position:relative;
  padding:40px 20px 20px;
}

.step-process > ul > * .num{
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  color:white;
  padding:2px 20px;
}

.step-process{
  counter-reset     :num 0;
}
.step-process > ul > *{
  counter-increment : num;
}
.step-process > ul > * .num::before{
  content           : 'step 'counter(num);
  font-size         : var(--size-num);
  line-height       : var(--size-num);
  font-family       : "Ibarra Real Nova", serif;
}

.step-process > ul > * .title{
  font-weight:bold;
  font-style:italic;
  line-height:3.0rem;
  font-size:1.5rem;
  border-bottom:1px solid #aaa;
  width:100%;
  margin:0 auto 30px;
}

@media(max-width:600px){
  .step-process > ul{
    flex-flow:column;
  }
  .step-process > ul > *{
    width:100%;
  }
}
